# Intro to SQL -- 

## Troubleshooting SQL on exams

In [ ]:
# !wget https://github.com/gt-cse-6040/bootcamp/raw/main/Module%201/Session%204/example.db

## This is to run through a simple troubleshooting example, in the exam format.

In [ ]:
import pandas as pd

In [ ]:
# create a connection to the database
import sqlite3 as db

# This is the example database, from Part 0 of NB 9.
# Connect to a database (or create one if it doesn't exist)
conn = db.connect('example.db')

### Exercise 1: (1 points)

**grade_output** -- This is the function name.

**Your task:** define `grade_output` as follows:

Return a SQL query to calculate the grade for each student in each course they have taken and earned an A: 
-  `name`
-  `course`
-  `grade`

**Inputs**: None  

**Return**: `query`: a Python string, containing a SQLite query. It should query the database to obtain a table with 3 columns:
- `name`: a string column holding the names of each student
- `course`: a string column holding the course name
- `grade`: a float column holding the grade achieved.

**Requirements/steps**:  -- any additional information required. If there are to be HINTs, they will be here.

- The database tables you will need are named `Students` and `Takes`.

- An `A` grade is defined as achieving a 4.0 grade.

In [ ]:
def grade_output():
    ### BEGIN SOLUTION 
    
    # deliberately writing incorrect query
    query = '''
        SELECT Students.name,
                Takes.course,
               Takes.grade

        FROM Students, Takes

        WHERE Students.gtid = Takes.gtid
              AND Takes.grade >= 3.0
              
    '''
    return query
    ### END SOLUTION

### Demo function call
grade_output_query = grade_output()
grade_output_df = pd.read_sql(grade_output_query, conn)
print(grade_output_df)   #_df.head())

**The demo should display this printed output.**
```
    name     course  grade
0  Vuduc   CSE 6040    4.0
1  Sokol   CSE 6040    4.0
2  Sokol  ISYE 6740    4.0
3   Chau   CSE 6040    4.0

[4 rows x 3 columns]
```


 ---
 <!-- Test Cell Boilerplate -->  
The cell below will test your solution for grade_output (exercise 1). The testing variables will be available for debugging under the following names in a dictionary format.  
- `input_vars` - Input variables for your solution.   
- `original_input_vars` - Copy of input variables from prior to running your solution. Any `key:value` pair in `original_input_vars` should also exist in `input_vars` - otherwise the inputs were modified by your solution.  
- `returned_output_vars` - Outputs returned by your solution.  
- `true_output_vars` - The expected output. This _should_ "match" `returned_output_vars` based on the question requirements - otherwise, your solution is not returning the correct output.

### The actual test cell will be here. The below cell simulates the output variables and testing, so that we can show how to troubleshoot.

In [ ]:
# DO NOT EDIT THIS CELL!!!
from pandas.testing import assert_frame_equal
true_output_vars = dict()
returned_output_vars = dict()
grade_output_query_correct = 'SELECT Students.name,Takes.course,Takes.grade FROM Students, Takes WHERE Students.gtid = Takes.gtid AND Takes.grade = 4.0'
true_output_vars['output_0'] = pd.read_sql(grade_output_query_correct, conn)
grade_output_query = grade_output()
returned_output_vars['output_0'] = pd.read_sql(grade_output_query, conn)
if true_output_vars['output_0'].shape[0]==returned_output_vars['output_0'].shape[0]:
    print("Passed. Please submit.")
else:
    print("Test Case Failed")

## When the test fails, because we are returning a pandas dataframe, we should use the pandas function `assert_frame_equal()` to troubleshoot.

In [ ]:
assert_frame_equal(true_output_vars['output_0'],returned_output_vars['output_0'])

In [ ]:
display(true_output_vars['output_0'])
display(returned_output_vars['output_0'])

## What questions do you all have on troubleshooting SQL exercises?