# SQL Working with DATEs

In [ ]:
# !wget https://github.com/gt-cse-6040/bootcamp/raw/main/Module%201/Session%204/NYC-311-2M_small.db

In [2]:
# create a connection to the database
import sqlite3 as db
import pandas as pd

# Connect to a database (or create one if it doesn't exist)
conn_nyc = db.connect('NYC-311-2M_small.db')

## DATEs
*    https://www.sqlite.org/lang_datefunc.html

SQLite provides a set of functions for working with date and time values, even though it does not have a dedicated DATE or TIME data type. Instead, SQLite stores dates and times as TEXT, REAL, or INTEGER values. These date functions allow you to perform various date and time manipulations and calculations, such as formatting, comparing, and extracting specific components like year, month, day, etc.

| Function | Description |
| ---- | ---- |
| JULIANDAY() | Returns the Julian day number (days since 4713 BC). |
| STRFTIME() | Formats a date or time according to a given format string. |

Date and Time Format Specifiers for STRFTIME:

| Format Specifier | Description | Example for `2025-02-18 14:25:30` |
| ---- | ---- | ---- |
| %Y | Four-digit year | 2025 |
| %m | Two-digit month (01-12) | 02 |
| %d | Two-digit day of the month (01-31) | 18 |
| %H | Two-digit hour (00-23) | 14 |
| %M | Two-digit minute (00-59) | 25 |
| %S | Two-digit second (00-59) | 30 |
| %w | Day of the week (0=Sunday, 6=Saturday) | 2 |
| %A | Full weekday name | Tuesday |
| %B | Full month name | February |
| %C | Century (year divided by 100) | 20 |
| %d | Day of the month (01-31) | 18 |
| %e | Day of the month (1-31, no leading zero) | 18 |
| %f | Milliseconds (000-999) | 000 |
| %H | Hour in 24-hour format (00-23) | 14 |
| %I | Hour in 12-hour format (01-12) | 02 |
| %j | Day of the year (001-366) | 049 |
| %k | Hour (1-24, no leading zero) | 14 |
| %l | Hour (1-12, no leading zero) | 2 |
| %m | Month (01-12) | 02 |
| %M | Minute (00-59) | 25 |
| %p | AM/PM indicator | PM |
| %r | 12-hour time format (hh:mm:ss AM/PM) | 02:25:30 PM |
| %s | Unix timestamp (seconds since 1970-01-01 00:00:00) | 1613652330 |
| %T | Time in 24-hour format (HH:MM:SS) | 14:25:30 |
| %U | Week number of the year (00-53), Sunday as first day | 07 |
| %V | ISO 8601 week number (01-53), Monday as first day | 08 |
| %W | Week number of the year (00-53), Monday as first day | 08 |
| %x | Date in the format MM/DD/YY | 02/18/25 |
| %X | Time in the format HH:MM:SS | 14:25:30 |
| %Y | Four-digit year | 2025 |
| %z | UTC offset (e.g., +02:00) | +00:00 |
| %Z | Time zone name | UTC |

### Example
From the `data` table for `Agency='NYPD'`, extract the createdDate year, createdDate epoch, and duration to close the ticket:
*  Columns
   *  `ComplaintType`
   *  `createdDate`
   *  `closedDate`
   *  `createdYear`: year extracted from `createdDate`
   *  `createdEpoch`: Epoch (or seconds since Jan 1, 1970) extracted from `createdDate`
   *  `deltadays`: Difference in days between the `closedDate` and `createdDate` using `julianday`

In [3]:
def strftimeexample() -> str:
  return f"""
  SELECT ComplaintType
  ,createdDate
  ,ClosedDate
  ,strftime('%Y',CreatedDate) createdyear
  ,strftime('%s',CreatedDate) createdepoch
  ,julianday(ClosedDate) - julianday(CreatedDate) deltadays
  FROM data
  WHERE Agency='NYPD'
  """
d=pd.read_sql(strftimeexample(),conn_nyc)
display(d)

,ComplaintType,CreatedDate,ClosedDate,createdyear,createdepoch,deltadays
0,Noise - Street/Sidewalk,2014-11-30 23:55:48.000000,2014-12-01 02:07:32.000000,2014,1417391748,0.091481
1,Noise - Street/Sidewalk,2014-11-30 23:54:57.000000,2014-12-01 01:12:40.000000,2014,1417391697,0.053970
2,Blocked Driveway,2014-11-30 23:50:35.000000,2014-12-01 04:18:46.000000,2014,1417391435,0.186238
3,Noise - Vehicle,2014-11-30 23:49:07.000000,2014-12-01 01:45:30.000000,2014,1417391347,0.080822
4,Noise - Park,2014-11-30 23:45:42.000000,2014-12-01 00:32:54.000000,2014,1417391142,0.032778
...,...,...,...,...,...,...
21975,Illegal Parking,2014-11-01 00:12:33.000000,2014-11-01 11:24:52.000000,2014,1414800753,0.466887
21976,Noise - Commercial,2014-11-01 00:09:20.000000,2014-11-01 05:14:51.000000,2014,1414800560,0.212164
21977,Noise - Commercial,2014-11-01 00:06:53.000000,2014-11-01 03:29:08.000000,2014,1414800413,0.140451
21978,Noise - Commercial,2014-11-01 00:03:20.000000,2014-11-01 00:25:14.000000,2014,1414800200,0.015208
21979,Illegal Parking,2014-11-01 00:01:51.000000,2014-11-01 00:39:36.000000,2014,1414800111,0.026215