# SQL Bootcamp Introduction and Syllabus

**************************************************************************************

## Why are we covering SQL in the bootcamp? Prior course iterations dealt with SQL very lightly.

### The ability to query databases using SQL is a VERY IMPORTANT SKILL for data analysts and data scientists. Most all data that DA's/DS's need is in some form of a database. 

*****************************************************************************************************

#### Being able to query/get one's own data makes one much more efficient, meaning that you can get down to your required analysis much quicker and more efficiently, rather than having to wait one someone else to provide you the data.

#### The experience of the course staff bears out this scenario, and we feel that it is incumbent on us to (at least) provide a more comprehensive SQL overview for the students, than we did in the past.

**********************************************************************************

## So what is different in the course overall, starting in the Fall 2024 semester?

#### We have added a Part 2 to Homework NB9, with some of the additional SQL skills that we feel are important for the students to learn.

#### The MT2 and Final Exams have specific SQL questions, that can only solved using SQL. Point values on the exams are such that, while students can pass the exams without doing an SQL question, they will not be able to achieve 100% on the exam without successfully completing at least one SQL question.

#### The format of exam SQL questions is introduced in Homework Notebook 9. SQL exercises in the Bootcamp will follow this format.

*************************************************************************

## Bootcamp SQL Syllabus

************************************************************************************

## Introduction Videos -- Linked to on the bootcamp schedule page. 

### Students should watch these on their own, as the content therein will not be covered live. The videos show the following:

1. Format of SQL questions on the exams.

2. Solving SQL exercises on the exams.

3. Troubleshooting SQL queries on the exams.

## Bootcamp Live Sessions

**We will be conducting 4 live sessions, for the topics below.**

**Please see the Bootcamp Schedule for specific dates and associated Colab notebooks.**

### Session 1 -- Database Information and Discovery Skills, Simple Aggregates, Handling NULL values.

1. Get schema and table information.


2. Get specific table information using PRAGMA.

3. Basic aggregations and strings in aggregations.

4. Handling NULL values with IFNULL() and COALESCE().

### Session 2 -- SQL string functions, CASE statements

1. String functions -- SUBSTR(), INSTR(), REPLACE(), TRIM(), CAST().

2. CASE statements.

3. Basic DATE functions.

4. Example using STRING and CASE functions.

### Session 3 -- Subqueries, Common Table Expressions (CTEs) and Temp Tables

1. Subqueries
2. CTEs
3. Temp Tables.

    -- Considerations for using each.

    -- Syntax for each

    -- Examples

### Session 4 -- SELECT order of execution, WINDOW functions

1. Order of execution of the clauses in the SELECT statment (expanding on NB9 Part 2 content).

2. WINDOW functions. (SUM, LEAD/LAG)