# Intro to SQL -- 

## Running SQL in Jupyter Notebooks on exams

In [ ]:
# !wget https://github.com/gt-cse-6040/bootcamp/raw/main/SQL/complete/example.db

### Homework Notebook 9 introduces the methodology that this class uses, for running SQL from Jupyter notebooks.

1. Create a database connection.

    -- In this class, we will not ask you to create database connections for a grade. We will provide the database connections, and in most cases we will also provide queries that give you an initial view of the tables in the database.


2. Write the query.

    --**Homework NBs and Exams will ask you to put the query into a string variable**, and then the test cell will use the string in the query execution step.


3. Execute the query and return the results.

    --You will always return the results into a pandas dataframe, and the test case variables will be comparing your pandas dataframe output to the solution/true pandas dataframe output. This class will typically use the pandas function **read_sql_query()** for this step.


4. For this class, because you will always return your query results to a pandas dataframe, you can use the function **assert_frame_equal()** to test and troubleshoot your query results. More on this in subsequent notebooks.

### In this class, Step 1 will already be done for you, in a cell that the exam tells you to run.

### Then, for the exercise requirement, you will write the Step 2 query, in a function.

### SQLite exercise format, Step 2

For these exercises we will ask you to complete a function that returns a string. That string is a SQLite query. In the most basic case the function will take no parameters and you can just return a static string. Since you're returning a query, there isn't a feasible option to solve this type of exercise with Pandas.

#### Possible variations

    Inputs to customize the query

    Input validation (i.e. raise an error if a given input doesn't meet a condition)


#### You will not see

    A connection as an input

    Table creation

    Data inserts/deletes/updates


You're free to work with connections and Pandas to debug. The demos are set up to execute your query. You can use the same pattern for checking against the test data. 


#### You don't need to include any of the following in your solution.

Anything related to a connection.
    
    i.e. execute, fetch, fetchall, close, commit, etc.

Reading into Pandas
    
    i.e. pd.read_sql

### For Step 3, the exam will provide sample code which calls your function, executes your SQL, and returns a pandas dataframe of sample data. There will be a cell below that provides the sample data results, for students to compare to.

### For Step 4, the exam will run a normal test cell, with the normal test case variables.

## Let's see how this will look.

In [ ]:
import pandas as pd

## This is the cell that sets up the database connection. The exam will simply tell you to run it.

In [ ]:
# create a connection to the database
import sqlite3 as db

# This is the example database, from Part 0 of NB 9.
# Connect to a database (or create one if it doesn't exist)
conn = db.connect('example.db')

## Next will be the exercise requirements, in the below format. 

#### The student output will be defined as in Step 2 above.

### Exercise 1: (1 points)

**grade_output** -- This is the function name.

**Your task:** define `grade_output` as follows:

Return a SQL query to calculate the grade for each student in each course they have taken: --defines the columns required
-  `name`
-  `course`
-  `grade`

Some text here that provides any clarifying text, if necessary.

**Inputs**: None  -- Note that this example has no inputs for the function, but we will show examples later on of how this could be required.

**Return**: `query`: a Python string, containing a SQLite query. It should query the database to obtain a table with 3 columns:
- `name`: a string column holding the names of each student
- `course`: a string column holding the course name
- `grade`: a float column holding the grade achieved.

**Requirements/steps**:  -- any additional information required. If there are to be HINTs, they will be here.

- The database tables you will need are named `Students` and `Takes`.

In [ ]:
def grade_output():
    ### BEGIN SOLUTION 
    query = '''
        SELECT Students.name,
                Takes.course,
               Takes.grade

        FROM Students, Takes

        WHERE Students.gtid = Takes.gtid
              
    '''
    return query
    ### END SOLUTION

### Demo function call
grade_output_query = grade_output()
grade_output_df = pd.read_sql(grade_output_query, conn)
print(grade_output_df)  #.head())

### Note for the format of the demo function call above.

1. Put your query into a string variable. You can print/display this variable, if you want to see what is going into the database.

2. Send your query to the database and return a pandas dataframe.

3. Print/display some portion of your returned dataframe.

### The next cell in the exam (below) will give you what the demo data should return, for you to compare your demo results to.

**The demo should display this printed output.**
```
   name     course  grade
0  Vuduc   CSE 6040    4.0
1  Vuduc  ISYE 6644    3.0
2  Vuduc  MGMT 8803    1.0
3   Chau   CSE 6040    4.0
4   Chau  ISYE 6740    2.0
5   Chau  MGMT 8803    3.0
6  Sokol   CSE 6040    4.0
7  Sokol  ISYE 6740    4.0

[8 rows x 3 columns]
```


 ---
 <!-- Test Cell Boilerplate -->  
The cell below will test your solution for grade_output (exercise 1). The testing variables will be available for debugging under the following names in a dictionary format.  
- `input_vars` - Input variables for your solution.   
- `original_input_vars` - Copy of input variables from prior to running your solution. Any `key:value` pair in `original_input_vars` should also exist in `input_vars` - otherwise the inputs were modified by your solution.  
- `returned_output_vars` - Outputs returned by your solution.  
- `true_output_vars` - The expected output. This _should_ "match" `returned_output_vars` based on the question requirements - otherwise, your solution is not returning the correct output.

### The actual test cell will be here. Not included for this example notebook.

## What questions do you all have on the exam format of SQL exercises?