# Python Functions and Scalar Data Types

## Functions

#### Python functions enable us to write reusable code and define our own algorithms.

## Why do we start the bootcamp with functions?

### Because we will use functions from the very first homework notebook, and every exam exercise will involve creating a function to solve the exercise.

### So student ABSOLUTELY MUST understand how to use functions.

### Function syntax is as follows:

#### Define the function:

`def function_name (input parameters):`
    
    code to execute within the function
    
    return statement
    
#### Call the function:

`return_value = function_name(parameters)`

![functions.png](https://github.com/gt-cse-6040/bootcamp/blob/main/Module%200/Session%202/functions.png?raw=1)

#### Input variables can be required or optional, and they can also have default values.

#### If a variable has a default value, then it will take on that value in the function, if an actual value is not passed into it.

In [ ]:
def raise_to_power(input_number, power = 2):

    result = input_number ** power

    return result

### How do we call a function?

#### Note that every function has a *return* statement.

#### So the function is *returning* some value, that needs to be assigned to a variable.

power_value = raise_to_power(5)

#### In this case, power_value is the variable that we are assigning the function result to.

In [ ]:
# call the function, do not pass in a power variable
power_value = raise_to_power(5)
power_value

In [ ]:
# call the function, pass in a power variable
power_value2 = raise_to_power(5,3)
power_value2

One issue that students traditionally have is using `print()` instead of `return`.

`print()` will output something to the screen, and the student will see it displayed.

The student thinks that `print()` has given the required result. However, only `return` actually enables the notebook to work with the output value of the function.

#### Here is a good page on working with functions:  https://www.geeksforgeeks.org/python-functions/

Questions on functions?

### Mutable and immutable objects
Many objects in Python, such as lists, dictionaries, NumPy arrays, and most user-defined types (classes), are mutable. This means that the object or values that they contain can be modified.

Others, like strings and tuples, are immutable, which means their internal data cannot be changed.

### Scalar Types
Python has a small set of built-in types for handling numerical data, strings, Boolean (True or False) values, and dates and time. These "single value" types are sometimes called scalar types, and we refer to them as scalars, or simply as data types.

The main data types we will be working with in the class are `None`, `bool`, `int`, `float`, and `str`.

#### Python Documentation page for standard types:  https://docs.python.org/3/library/stdtypes.html#  (Note the Table of Contents on the left, to jump directly to the desired topic.)

![data_types.png](https://github.com/gt-cse-6040/bootcamp/blob/main/Module%200/Session%202/data_types.png?raw=1)

#### None
`None` is the Python null value type.

In [ ]:
var_none = None
display(var_none is None)

var_not_none = 5
display(var_not_none is not None)

#### Booleans
The two Boolean values in Python are written as `True` and `False`. Comparisons and other conditional expressions evaluate to either `True` or `False`. Boolean values can be combined with the `and` and `or` keywords:

In [ ]:
display(True and True)
display(False or True)
display(False and True)  # why does this display False?

When converted to numbers, `False` becomes 0 and `True` becomes 1:

In [ ]:
display(int(False))
display(int(True))

The keyword `not` flips a Boolean value from True to False or vice versa:

In [ ]:
a = True
b = False

display(not a)
display(not b)

#### Numeric types
The primary Python types for numbers are `int` and `float`.

Floating-point numbers are represented with the Python float type. We will be looking at floats in detail in Homework Notebook 4, so will not cover them in detail here.

Integers can be very large numbers.

In [ ]:
int_val = 648903229
# use the ** to raise a number to that power
int_val ** 8

#### Strings
Python has extensive built-in string handling capabilities.

You can write string literals using either single quotes ' or double quotes ".

The Python string type is `str`.

For multiline strings with line breaks, you can use triple quotes, either ''' or """.

#### String processing in this class includes both Python string manipulation functions and using regex.

#### We will cover the former here and the latter in a future bootcamp session.

#### Homework notebook 5 is where regex is introduced as a graded topic.

In [ ]:
single_str = 'string using single quotes '
double_str = "string using double quotes"

multi_line_str = """
This is a longer string that
contains multiple lines
"""

Strings are a sequence of characters and therefore can be treated like other sequences, such as lists and tuples.

The individual elements in a string can be addressed by their position.

Note that Python uses square bracket notation in addressing individual elements of an object/variable.

In [ ]:
# Python uses zero-based addressing, so the element below
# is actually the 11th element in the string.
display(single_str)
display(single_str[10])

Python strings are immutable, so you cannot modify a string.

In [ ]:
# this will throw an error, uncomment to illustrate
# single_str[10] = 'z'

Adding two strings together concatenates them and produces a new string.

In [ ]:
new_string = single_str + double_str
display(new_string)

### String documentation pages -- bookmark these for reference throughout the class.

#### Main documentation page:  https://docs.python.org/3/library/string.html

#### String methods:  https://docs.python.org/3/library/stdtypes.html#string-methods

### String formatting

This is a relatively new feature in Python, and it will be useful throughout the class. You will see string formatting exercises on multiple midterm practice problems (previous semester exams), and it is likely that you will need to do this on at least one of your exams in the class.

There are two main ways of doing string formatting:  str.format() method, and f-strings. You will see examples of each throughout the class. It would be good for students to have an understanding of each method.

`str.format()` method:  https://docs.python.org/3/library/string.html#format-string-syntax

`f-strings`:  https://docs.python.org/3/tutorial/inputoutput.html

#### Both string formatting methods use a substitution paradigm. The portions of the string to be substituted in are enclosed in squiggly brackets `{}` and those values are passed to the method when printing or displaying.

### We generally recommend using f-strings in your functions, simply because they are easier to understand when reviewing your code flow.

#### But whichever one to use is totally up to the student, as they both produce the same result, in the end.

`format()` is a method of a string. The manner of calling it is to define a string template that includes the required substitutions, then calling the `format()` method, passing in the desired text to be substituted in.

In [ ]:
# define the template
string_template = "{} is the professor for the class {}."
string_template.format("Professor Vuduc", "CSE6040")

In [ ]:
string_template2 = "To achieve an A in {}, students must attain {:.2%} or higher."
string_template2.format("CSE6040", .9)

# {:.2%} means to format the argument as a floating-point percentage with two decimal places.
# See the documentation for different formatting options.

`f-strings` use substitution, but in the opposite order than `format()`.

First define the variables (and values) to be substituted in, then the `f-string` itself.

In [ ]:
professor = "Professor Vuduc"
OMSA_class = "CSE6040"

result = f"{professor} is the professor for the class {OMSA_class}."
result

In [ ]:
my_grade = 98.98888888
result2 = f"I have received a {my_grade:.2f} in {OMSA_class}!"
result2

### The upper() and lower() functions are ones that you will see extensively in this course, so we will introduce them here.

**`upper()`** and **`lower()`** -- These methods convert letters in the string to either upper or lower case. They ignore non-letter characters. These methods do not take any arguments.

https://www.geeksforgeeks.org/python-string-upper/
https://www.w3schools.com/python/ref_string_upper.asp

https://www.geeksforgeeks.org/python-string-lower/
https://www.w3schools.com/python/ref_string_lower.asp

In [ ]:
# First sentence of the first book in the Harry Potter series.
potter_text = '''Mr. and Mrs. Dursley, of number four, Privet Drive, were proud to say that they were perfectly normal, thank you very much.'''
display(potter_text)

In [ ]:
potter_text_caps = potter_text.upper()
display(potter_text_caps)

In [ ]:
potter_text_smalls = potter_text.lower()
display(potter_text_smalls)

### The split() and join() functions are also ones that you will see extensively in this course, so we will introduce them here.

### Tap tap tap..............  You will definitely have multiple opportunities to demonstrate your proficiency with these functions on exams in the course.

## Tap tap tap -- What does that mean? In the bootcamp, when a TA Instructor says this before some topic or exercise, it means that you are going to see this, or something very similar, on the upcoming exam. You should ensure that you fully understand the topic, and you should be able to produce something similar under the timed exam scenario.

**`split()`**

`split(separator, maxsplit = -1)` -- This method splits a string into a list of strings, after breaking the given string by the specified separator. Both of the parameters are optional.

1. The `separator` parameter is a delimiter. The string splits at this specified separator. If is not provided then any white space is a separator.

2. If multiple return variables are provided, and the number of return variables equals the number of items after the split is performed, then each return variable will be a string, and no list will be returned.

3. The `maxsplits` parameter is a number, which tells us to split the string into maximum of provided number of times. If it is not provided then the default is -1 that means there is no limit.

In this class, we will generally not be specifying the maxsplits parameter.

#### Don't worry that we have not yet covered lists, as we will do so in the next session.

In [ ]:
# split with parameters not specified,
# so will split on white space
potter_text_split = potter_text.split()
print(potter_text_split)

In [ ]:
# a method to break down a time string into its components
# of hours, minutes, and seconds
current_time = '11:24:46'

# split into a list, single return variable
lst_time = current_time.split(':')
display(lst_time)

# three return variables, each its own string
hours, mins, secs = current_time.split(':')
display(hours, mins, secs)

**`join()`**

`'element_to_join_on'.join(iterable)` -- This method is used to join elements of the sequence separated by a string separator. This function joins elements of a sequence and makes it a string.

`Iterable` â€“ These are objects capable of returning their members one at a time. Some examples are `List`, `Tuple`, `String`, `Dictionary`, and `Set`.

The `element_to_join_on` in the above is telling Python to use that as the separator when joining the items to create the string.

#### Again, don't worry about the fact that we have not yet covered iterables and lists, as we will do so in the next session.

In [ ]:
# recall that we made a variable that split a time string
display(lst_time)

In [ ]:
# now join the elements back together
str_time = ':'.join(lst_time)
display(str_time)

In [ ]:
# recall the potter text list
print(potter_text_split)

In [ ]:
# note that we are joining with a space
sentence_text = ' '.join(potter_text_split)
display(sentence_text)

### We recommend that students come back to this notebook after the sessions on iterables and lists, if they have questions on how these functions operate.

## Below are some common string functions that students will be required to use in the class. See the documentation for examples of how to use them.

### We are not covering these functions in detail in the bootcamp, and we expect students to learn them on their own.

`replace()`

`count()`

`find()`

`is*()` functions

`strip()` and `lstrip()` and `rstrip()`

String Methods Documentation:  https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str

More Documentation:  https://docs.python.org/3/library/string.html